/* CSS simplifiée
 * spécialement conçue pour les éditions XML en mode graphique :
 *
 * * bonne reconnaissance par XXE
 * * oXygen 9 bouffe les sélecteurs accentués
 *
 */

* {
  display: block
}

*:before, *:after{
  display: inline;
  font-weight: normal;
  color:gray;
}

article {
  font-family: sans-serif;
  font-size: 12pt;
}

tête,corps {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  margin: 1em;
  padding: 1em;
}

résumé {
}

tête * {
  font-style: italic;
}

propriété * {
  display: inline
}

propriété:before {
  content: name() element-name() " : ©";
}
propriété:after {
  content:  " licence " attr(licence);
}
résumé:before,
source:before,
auteur:before,
révision:before,
sujet:before,
date:before,
issn:before,
édition:before,
publication:before,
légende:before {
  content: name() element-name() " : ";
}

titre, résumé, emphase {
  font-weight: bold;
}

tête titre {
  font-size: 2em;
}
section titre {
  font-size: 1.4em;
}

tête résumé, section {
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

section {
  border-style: dashed;
  border-width: 1px;
  padding: 0.6em;
}

paragraphe {
  margin-top: 0.4em;
}

paragraphe * {
  display: inline;
}

citation:before {
  content: "«";
}

citation:after {
  content: "»";
}

lien {
  color: blue;
}

légende {
  font-size: 0.9em;
  font-weight: normal;
}

/* affichage des images par XXE */
image:before {
  content: image-viewport(
    attribute, url,
    data-type, anyURI,
    content-width, attr(largeur),
    content-height, attr(hauteur)
  );
}
