
/* Base */

html,
body{
  display:block;
  background-color:Gray;
  font-family:sans-serif;
  font-size:10pt;
  margin:0;
  padding:0;
}

/* Tête */

.date,
.author,
.editor,
.bibliosource,
.issn,
.copyright{
  font-size:0.8em;
  color:Gray;
  background-color:inherit;
}
.subjectset{
  color:black;
  font-size:0.8em;
  padding:0.2em;
  text-align:left;
  border-bottom-style:solid;
  border-width:thin;
  border-color:black;
}
.article .info{
  border-bottom-style:solid;
  padding-bottom:0.4em;
  border-width:thin;
  clear:both;
}
.section .info{
  border-bottom-style:solid;
  padding-bottom:0.2em;
  border-width:thin;
  border-color:silver;
  clear:both;
}

/* Document */

body{
  background-color:White;
  margin-left:auto;
  margin-right:auto;
  width:640px;
  margin-top:1em;
  margin-bottom:1em;
  padding:3em;
  border-style:solid;
  border-color:Black;
  border-width:thin;
  border-radius:1em;
}
@media print{
  body{
    margin:0;
    padding:0;
    font-family:times, serif;
    border-style:none;
  }
}
.section{
  margin-top:1.8em;
  clear:both;
}
.sidebar{
  margin-top:1.4em;
  padding:1em;
  clear:both;
  font-size:0.8em;
  color:black;
  background-color:#DADADA;
  border-style:solid;
  border-color:black;
  border-width:thin;
}
.title{
  padding-top:0.2em;
  padding-bottom:0.2em;
}
h1,
h2,
h3{
  margin:0;
  padding:0;
  font-family:'DejaVu Sans Condensed', sans-serif;
}
h1 a,
h2 a,
h3 a{
  color:black;
  text-decoration:none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover{
  color:blue;
}
.abstract{
  margin-top:1em;
  text-align:justify;
  font-style:italic;
}
p{
  text-align:justify;
  margin-top:0.6em;
  margin-bottom:0.4em;
}
.emphasis{
  font-weight:bold;
}
.article .info .mediaobject{
  float:left;
  margin-top:1em;
  margin-left:0;
  padding-right:1em;
  color:gray;
  background-color:white;
}
.mediaobject{
  float:right;
  margin-left:1em;
  margin-right:0;
  padding-bottom:1em;
}
img{
  border-style:none;
  display:block;
}
.caption{
  margin-top:0.4em;
  font-size:0.8em;
  font-style:italic;
}
.caption p{
  margin:0;
  text-align:right;
}
.article .info .caption p{
  text-align:left;
}
.abbrev,
.note{
  color:gray;
  background-color:inherit;
  border-color:gray;
  border-bottom-style:dotted;
  border-width:1px;
}
abbrev:hover,
.note:hover{
  cursor:help;
  border-bottom-style:none;
}

/* pied */
p.badge {width:100%;margin-top:2em;border-top-style:solid;padding:0.8em 0 0.8em 0;text-align:right;}
p.badge img {border-style:none;float:right;}

